<!DOCTYPE html>
<html crossriderapp2258="true"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- title -->
    <title>Shinichr - Blog</title>

    <!-- meta -->
    <meta charset="UTF-8">

    <!-- links -->

    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css">
  <script type="text/javascript" src="http://cdn.staticFile.org/jquery/2.0.3/jquery.min.js"></script>

    <!-- scripts -->

    <!-- IE Hacks -->
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    </head>
    <body class="home blog">
     
      <!-- header -->
      <header>
         {{template "header" .}}
      </header>
     
    <!-- wrapper -->

    <div id="wrapper">
      
      <div class="container_16">
        <section id="posts" class="prefix_1 grid_9">

          {{ range .Topics}}
          <article>
            
            <h2><a href="/topic/view/{{.Id}}" >{{.Title}}</a></h2>
            <p class="info">{{date .Created "Y-m-d H:i:s"}} |  <a href="#"  rel="category">{{.Category}}</a></p>
            <div class="time"><p>{{date .Created "m"}} <br><span>{{date .Created "d"}}</span></p></div>

                <div class="entry" id="topicContent" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-height:100px;">
                {{str2html .Content}}
                </div>

                        <div class="clear"></div>
            <p class="bottom_info"><a href="#" >{{.ReplyCount}} Comment »</a></p>
            <p class="delete"><a href="/topic?op=del&id={{.Id}}" >delete acticle</a></p>

          </article>
          {{end}}
        
           <article>
           <h2>
           <p class="delete"><a href="/topic/add" >添加文章</a></p>
          
           </h2>
           </article>

        </div>

  
  </div>
    <!-- footer -->
    {{template "footer" .}}
</body>

</html>
   
    <div class="container">
      
    </div>

    <script type="text/javascript" src="http://cdn.staticFile.org/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="./../static/js/bootstrap.min.js"></script>
    <script charset="utf-8" src="./../static/js/kindeditor-min.js"></script>
    <script charset="utf-8" src="./../static/js/zh_CN.js"></script>
    <script>
      KindEditor.ready(function(K) {
        K.create('textarea[name="content"]', {
          autoHeightMode : true,
          afterCreate : function() {
            this.loadPlugin('autoheight');
          }
        });
      });
    </script>

  </body>
</html>
